@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Master.Contacts.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BitPro.SchoolMate.Master.ContactsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>