@import "site.mixins.less";


.s-Transactions-PromotionDetailsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-PromotionsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-FeeCollectionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-FeeStructureDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-FeeAllocationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-AttandanceDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-MarkSheetDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-StudentMarksDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-StudentMarksDetailsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-StudentMarksSubjectsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-CourseExitDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-CourseExitDetailsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-AdmissionDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-FeeAllocationTranportationDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-SalaryStructureDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-SalaryPaymentsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Transactions-TransportDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}