@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Transactions.SalaryStructure.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BitPro.SchoolMate.Transactions.SalaryStructureGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>