@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.SystemSettings.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BitPro.SchoolMate.Administration.SystemSettingsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>