@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Transactions.FeeAllocation.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BitPro.SchoolMate.Transactions.FeeAllocationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>