@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Master.Courses.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BitPro.SchoolMate.Master.CoursesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>