@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Master.AcadamicYear.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BitPro.SchoolMate.Master.AcadamicYearGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>